body {
    margin:0;
    z-index: 50;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(247,186,220);
    position: fixed;
    top: 0;
    
    width: 100%;
    z-index: 50;
}

li {
    float: left;
    z-index: 50;
    margin-left: 237px;

}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 50;
    font-family: 'Mali SemiBold';
    font-size :20px;

}

li a:hover:not(.active) {
    background-color: rgb(235,162,254);
    z-index: 50;
}

.active {
    background-color: rgb(235,162,254);
    z-index: 50;
}